<div class="container">
    <h1>Register Student</h1>

    <form method="post" enctype="multipart/form-data"> @* asp-controller="Student" asp-action="Assign"> *@
        <p>
        <label class="form-label" for="name">Student Name</label>
        <input class="form-control" type="text" id="student_name" name="name" value="" required>
        </p>

        <label class="form-label" for="roll">Roll</label>
        <input class="form-control" id="student_name" type="text" name="roll" value="" required>
        </p>

        <br>
        <hr>

        

        <p class="submit">
            <input type="submit" name="save" value="Save">
        </p>
    </form>
</div>

<script>
    
</script>